# MCP
APIFY_API_KEY=
APIFY_ENABLED=true

# Web search
WEB_SEARCH_ACTOR=
WEB_SEARCH_MAX_RESULTS=
WEB_SEARCH_ENABLED=true

# Twitter
TWITTER_ACTOR=
TWITTER_MAX_RESULTS=
TWITTER_ENABLED=true

# Reddit
REDDIT_ACTOR=
REDDIT_MAX_RESULTS=
REDDIT_ENABLED=true

# Instagram
INSTAGRAM_ACTOR=
INSTAGRAM_MAX_RESULTS=
INSTAGRAM_ENABLED=true

# Threads
THREADS_ACTOR=
THREADS_MAX_RESULTS=
THREADS_ENABLED=true

# Telegram
TELEGRAM_ACTOR=
TELEGRAM_MAX_RESULTS=
TELEGRAM_ENABLED=true